<div class="row">
  <div class="col-md-4 col-md-offset-4">
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger"> {{msg}}
    </div>
    {{/each}}
{{/if}}
<form class="form-group" method ="post" action = "/user/register">
        <h2 class="form-signin-heading">Please Register </h2>
        Username: <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
       Email: <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
       Password: <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
       Confirm Password: <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPasswordc" name="password2" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
    </div>
  </div>